body {
    background-color: #02131B;
    font-family: 'Inter', sans-serif !important;
    line-height: 1.75;
    height: 100vh;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-expand-lg {
    margin-top: 1.5rem;
}

.bloba-glow {
    height: 20%;
    width: 70%;
    position: absolute;
    background-color: rgb(135 176 255 / 1);
    z-index: 0;
    filter: blur(250px);
    top: 0;
}

.app {
    display: flex;
    justify-content: center;
    margin-top: 7vw;
}

.app-img>img {
    width: 128px;
    height: auto;
}

.app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6F4FD;
    font-weight: 800;
    font-style: normal;
    font-size: 1.6em !important;
    text-decoration: none;
    white-space: nowrap;
    gap: 0.8rem;
}

.app-buttons {
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
}

.button {
    padding: 0.8rem 1.7rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    color: #141414;
    background-color: #78CAF4;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #5dafd8;
    transition: all 0.2s ease-in-out;
}

.preview {
    padding: 0 5rem 0 5rem;
    margin-top: 6rem;
}

.preview-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-img>img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

.preview-text-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6em;
    color: #E6F4FD;
    font-weight: 700;
}

.preview-features {
    row-gap: 2rem;
}

.feature-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 15%;
    pointer-events: none;
    user-select: none;
    color: #E6F4FD;
}

.feature-h1 {
    font-size: calc(6px + 0.8vw) !important;
    color: #E6F4FD;
    font-weight: 800;
    letter-spacing: -.0125em;
}

.feature-h4 {
    font-size: calc(12px + 0.8vw) !important;
    color: #E6F4FD;
    font-weight: 800;
    letter-spacing: -.0125em;
}

.feature-p {
    font-size: 1em !important;
    color: #969799;
    font-weight: 400;
    line-height: 24.5px;
    letter-spacing: -.0125em;
}

.container-fluid {
    padding: 0 !important;
}

footer {
    position: relative;
    max-width: 100%;
    margin-top: 5.5rem;
    border-top: 1px solid hsla(0, 0%, 100%, .08);
    background-color: #0e1e27;

    margin-top: 5%;
}

.footer-name {
    display: flex;
    align-items: center;
    color: #8a8f98;
    font-size: 15px;
    font-weight: 500;
}

.footer-name svg {
    fill: #eff0f2;
    margin-right: 1%;
}


.fqyXPs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fqyXPs p {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #8a8f98;
    margin-right: 0.5%;
}

.fqyXPs a {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #8a8f98 !important;
    transition: all 0.2s ease-in-out;

    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.fqyXPs:hover a {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #eceff3 !important;
    transition: all 0.2s ease-in-out;

    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1600px) {
    .feature-h1 {
        font-size: calc(10px + 0.8vw) !important;
        font-weight: 600;
    }
}

@media(max-width: 990px) {
    .preview-text-h1 {
        font-size: 2.4em;
    }

    .preview {
        padding: 0 2rem 0 2rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .feature-h1 {
        font-size: calc(10px + 1.4vw) !important;
        font-weight: 600;
    }
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 1.5rem;
    }
}